.glitch-container {
  animation: glitch-background 3s infinite ease-in-out;
}

@keyframes glitch-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glitch {
  position: relative;
  display: inline-block;
  animation: glitch 1.5s infinite;
}

.glitch__layer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  clip: rect(0, 900px, 0, 0);
}

.glitch__layer--1 {
  animation: glitch-layer-1 2s infinite;
}

.glitch__layer--2 {
  animation: glitch-layer-2 2s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-layer-1 {
  0% {
    clip: rect(44px, 9999px, 56px, 0);
    transform: skew(0.3deg);
  }
  10% {
    clip: rect(12px, 9999px, 100px, 0);
    transform: skew(0.6deg);
  }
  20% {
    clip: rect(30px, 9999px, 56px, 0);
    transform: skew(0.3deg);
  }
  30% {
    clip: rect(22px, 9999px, 92px, 0);
    transform: skew(0.4deg);
  }
  40% {
    clip: rect(44px, 9999px, 100px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(12px, 9999px, 50px, 0);
    transform: skew(0.4deg);
  }
  60% {
    clip: rect(20px, 9999px, 44px, 0);
    transform: skew(0.2deg);
  }
  70% {
    clip: rect(44px, 9999px, 92px, 0);
    transform: skew(0.3deg);
  }
  80% {
    clip: rect(12px, 9999px, 56px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(30px, 9999px, 100px, 0);
    transform: skew(0.4deg);
  }
  100% {
    clip: rect(44px, 9999px, 56px, 0);
    transform: skew(0.6deg);
  }
}

@keyframes glitch-layer-2 {
  0% {
    clip: rect(32px, 9999px, 56px, 0);
    transform: skew(0.4deg);
  }
  10% {
    clip: rect(12px, 9999px, 60px, 0);
    transform: skew(0.5deg);
  }
  20% {
    clip: rect(22px, 9999px, 50px, 0);
    transform: skew(0.3deg);
  }
  30% {
    clip: rect(32px, 9999px, 80px, 0);
    transform: skew(0.2deg);
  }
  40% {
    clip: rect(44px, 9999px, 60px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(12px, 9999px, 90px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(32px, 9999px, 56px, 0);
    transform: skew(0.4deg);
  }
  70% {
    clip: rect(44px, 9999px, 100px, 0);
    transform: skew(0.6deg);
  }
  80% {
    clip: rect(22px, 9999px, 56px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(12px, 9999px, 80px, 0);
    transform: skew(0.4deg);
  }
  100% {
    clip: rect(32px, 9999px, 56px, 0);
    transform: skew(0.3deg);
  }
}
